absl-py==0.12.0
adal==1.2.7
alembic==1.5.6
altgraph==0.17
antlr4-python3-runtime==4.8
anyio==2.2.0
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
auto-py-to-exe==2.8.0
azure-common==1.1.27
azure-core==1.13.0
azure-mgmt-core==1.2.2
azureml==0.2.7
Babel==2.9.0
backcall==0.2.0
backports.weakref==1.0.post1
banal==1.0.6
beautifulsoup4==4.9.3
bleach==3.3.0
blessings==1.7
blis==0.7.4
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constants==0.6.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.22
datasets==1.4.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.3
docopt==0.6.2
Eel==0.12.4
entrypoints==0.3
ezodf==0.3.2
fastai==2.1.10
fastapi==0.63.0
fastcore==1.3.19
fastprogress==1.0.0
filelock==3.0.12
Flask==1.1.2
Flask-GraphQL==1.4.1
flatbuffers==1.12
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.0.0/fr_core_news_md-3.0.0-py3-none-any.whl
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.0.0/fr_core_news_sm-3.0.0-py3-none-any.whl
fsspec==0.8.7
ftransc==7.0.3
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gdom==1.0.0
gensim==3.8.3
gevent==21.1.2
gevent-websocket==0.10.1
google-api-core==1.26.1
google-api-python-client==2.2.0
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
googledrivedownloader==0.4
graphene==2.0.1
graphql-core==2.3.2
graphql-relay==0.4.5
greenlet==1.0.0
grpcio==1.34.1
guidata==1.7.9
guiqwt==3.0.5
h11==0.12.0
h5py==3.1.0
httpcore==0.12.3
httplib2==0.19.1
httpx==0.17.0
huggingface-hub==0.0.2
hydra-core==1.0.6
idna==2.10
imutils==0.5.4
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.18.0
jeepney==0.6.0
Jinja2==2.11.3
joblib==1.0.1
Js2Py==0.70
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab @ file:///C:/Users/theoj/pipwin/jupyterlab-3.0.9-py3-none-any.whl
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.3.1
laserembeddings==1.1.1
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
MouseInfo==0.1.3
msrest==0.6.21
msrestazure==0.6.4
multiprocess==0.70.11.1
murmurhash==1.0.5
mutagen==1.45.1
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nltk==3.5
notebook==6.2.0
numpy==1.19.5
oauthlib==3.1.0
omegaconf==2.0.6
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pafy==0.5.5
pandas==1.2.3
pandas-ods-reader==0.0.7
pandocfilters==1.4.3
parse==1.19.0
parso==0.8.1
pathy==0.4.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.1
pipwin==0.5.1
plotly==4.14.3
plumbum==1.7.0
preshed==3.0.5
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.16
protobuf==3.15.6
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/theoj/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pycparser==2.20
pydantic==1.7.3
pygame==2.0.1
PyGetWindow==0.0.9
pyglet==1.5.15
Pygments==2.8.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyjsparser==2.7.1
PyJWT==2.0.1
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.2
pyqt-tools==1.0.0
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
pyquery==1.3.0
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pySmartDL==1.3.4
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
python-Levenshtein==0.12.2
python-vlc==3.0.11115
PythonQwt==0.8.3
pytube==10.5.1
PyTweening==1.0.3
pytz==2021.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty @ file:///C:/Users/theoj/pipwin/pywinpty-0.5.7-cp39-cp39-win_amd64.whl
PyYAML==5.4.1
pyzmq==22.0.3
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
qtconsole==5.0.2
QtPy==1.9.0
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.4.0
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
Rx==1.6.1
sacremoses==0.0.35
scikit-learn==0.24.1
scikit-surprise==1.1.1
scipy==1.6.1
seaborn==0.11.1
SecretStorage==3.3.1
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.95
six==1.15.0
sklearn==0.0
smart-open==3.0.0
sniffio==1.2.0
soupsieve==2.2
spacy==3.0.4
spacy-lefff==0.4.0
spacy-legacy==3.0.1
SQLAlchemy==1.3.23
srsly==2.4.0
starlette==0.13.6
stuf==0.9.16
subword-nmt==0.3.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0rc1
tensorflow-estimator==2.5.0rc0
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
textblob==0.15.3
textblob-fr==0.2.0
thinc==8.0.2
threadpoolctl==2.1.0
tokenizers==0.10.1
torch==1.8.0
torchvision==0.9.0
tornado==6.1
tqdm==4.49.0
traitlets==5.0.5
transformers==4.4.2
translatte==0.1
transliterate==1.10.2
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
Unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.26.3
uvicorn==0.13.4
vader-multi==3.2.2.1
vaderSentiment-fr==1.2
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
xxhash==2.0.0
youtube-dl==2021.3.3
youtube-search-python==1.4.2
zope.event==4.5.0
zope.interface==5.4.0
